<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrbeard.process.blocks.professional.mapper.ProcessNodeBaseMapper">
    <resultMap id="BaseResultMap" type="com.mrbeard.process.blocks.professional.model.ProcessNodeBase">
        <constructor>
            <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="nodeName" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="nodeCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="nodeType" javaType="java.lang.Byte" jdbcType="TINYINT"/>
            <arg column="description" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="createdTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="updatedTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>

    <sql id="Base_Column_List">
      id, nodeName, nodeCode, nodeType, description, createdTime, updatedTime
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from p_node_base
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="selectByNodeType" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from p_node_base
        where nodeType = #{nodeType,jdbcType=TINYINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from p_node_base
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.mrbeard.process.blocks.professional.model.ProcessNodeBase">
        insert into p_node_base (id, nodeName, nodeCode,
          nodeType, description, createdTime,
          updatedTime)
        values (#{id,jdbcType=VARCHAR}, #{nodename,jdbcType=VARCHAR}, #{nodecode,jdbcType=VARCHAR},
          #{nodetype,jdbcType=TINYINT}, #{description,jdbcType=VARCHAR}, #{createdtime,jdbcType=TIMESTAMP},
          #{updatedtime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.mrbeard.process.blocks.professional.model.ProcessNodeBase">
        insert into p_node_base
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="nodename != null">
                nodeName,
            </if>
            <if test="nodecode != null">
                nodeCode,
            </if>
            <if test="nodetype != null">
                nodeType,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="createdtime != null">
                createdTime,
            </if>
            <if test="updatedtime != null">
                updatedTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="nodename != null">
                #{nodename,jdbcType=VARCHAR},
            </if>
            <if test="nodecode != null">
                #{nodecode,jdbcType=VARCHAR},
            </if>
            <if test="nodetype != null">
                #{nodetype,jdbcType=TINYINT},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="createdtime != null">
                #{createdtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedtime != null">
                #{updatedtime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective"
            parameterType="com.mrbeard.process.blocks.professional.model.ProcessNodeBase">
        update p_node_base
        <set>
            <if test="nodename != null">
                nodeName = #{nodename,jdbcType=VARCHAR},
            </if>
            <if test="nodecode != null">
                nodeCode = #{nodecode,jdbcType=VARCHAR},
            </if>
            <if test="nodetype != null">
                nodeType = #{nodetype,jdbcType=TINYINT},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="createdtime != null">
                createdTime = #{createdtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedtime != null">
                updatedTime = #{updatedtime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.mrbeard.process.blocks.professional.model.ProcessNodeBase">
        update p_node_base
        set nodeName = #{nodename,jdbcType=VARCHAR},
          nodeCode = #{nodecode,jdbcType=VARCHAR},
          nodeType = #{nodetype,jdbcType=TINYINT},
          description = #{description,jdbcType=VARCHAR},
          createdTime = #{createdtime,jdbcType=TIMESTAMP},
          updatedTime = #{updatedtime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>