<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrbeard.process.blocks.professional.mapper.ProcessNodeTypeBaseMapper">
  <resultMap id="BaseResultMap" type="com.mrbeard.process.blocks.professional.model.ProcessNodeTypeBase">
    <constructor>
      <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="parentsId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="isBeginNode" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="isEndNode" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="correlationId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="processTypeId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="nodeTypeQueue" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="parentsName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="correlationName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="createdTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="updatedTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, parentsId, isBeginNode, isEndNode, correlationId,
    processTypeId, nodeTypeQueue,parentsName,correlationName,createdTime,updatedTime
  </sql>

  <sql id="Base_Where_Clouse">
    where 1=1
    <if test="id != null and id != ''">
       and id = #{id}
    </if>
    <if test="name != null and name != ''">
       and name = #{name}
    </if>
    <if test="parentsId != null and parentsId != ''">
       and parentsId = #{parentsId}
    </if>
    <if test="isBeginNode != null and isBeginNode != ''">
       and isBeginNode = #{isBeginNode}
    </if>
    <if test="isEndNode != null and isEndNode != ''">
       and isEndNode = #{isEndNode}
    </if>
    <if test="correlationId != null and correlationId != ''">
       and correlationId = #{correlationId}
    </if>
    <if test="processTypeId != null and processTypeId != ''">
       and processTypeId = #{processTypeId}
    </if>
    <if test="nodeTypeQueue != null and nodeTypeQueue != ''">
       and nodeTypeQueue = #{nodeTypeQueue}
    </if>
    <if test="parentsName != null and parentsName != ''">
       and parentsName = #{parentsName}
    </if>
    <if test="correlationName != null and correlationName != ''">
       and correlationName = #{correlationName}
    </if>
    <if test="createdTime != null ">
       and createdTime = #{createdTime}
    </if>
    <if test="updatedTime != null ">
       and updatedTime = #{updatedTime}
    </if>
    <if test="sortName != null and sortName != ''">
      order by ${sortName}
      <if test="sortCase != null and sortCase != ''">
        ${sortCase}
      </if>
    </if>
  </sql>

  <sql id="Base_Where_List_Clouse">
    where
    <if test="list != null and list.size() > 0"> ( </if>
    <foreach collection="list" item="item" separator=")or(">
      <trim prefixOverrides="and">
        <if test="item.id != null and item.id != ''">
          and id = #{item.id}
        </if>
        <if test="item.name != null and item.name != ''">
          and name = #{item.name}
        </if>
        <if test="item.parentsId != null and item.parentsId != ''">
          and parentsId = #{item.parentsId}
        </if>
        <if test="item.isBeginNode != null and item.isBeginNode != ''">
          and isBeginNode = #{item.isBeginNode}
        </if>
        <if test="item.isEndNode != null and item.isEndNode != ''">
          and isEndNode = #{item.isEndNode}
        </if>
        <if test="item.correlationId != null and item.correlationId != ''">
          and correlationId = #{item.correlationId}
        </if>
        <if test="item.processTypeId != null and item.processTypeId != ''">
          and processTypeId = #{item.processTypeId}
        </if>
        <if test="item.nodeTypeQueue != null and item.nodeTypeQueue != ''">
          and nodeTypeQueue = #{item.nodeTypeQueue}
        </if>
        <if test="item.parentsName != null and item.parentsName != ''">
          and parentsName = #{item.parentsName}
        </if>
        <if test="item.correlationName != null and item.correlationName != ''">
          and correlationName = #{item.correlationName}
        </if>
        <if test="item.createdTime != null ">
          and createdTime = #{item.createdTime}
        </if>
        <if test="item.updatedTime != null ">
          and updatedTime = #{item.updatedTime}
        </if>
      </trim>
    </foreach>
    <if test="list != null and list.size() > 0">)</if>
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from p_node_type_base
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectByParentsId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from p_node_type_base
    where parentsId like CONCAT(CONCAT('%', #{id,jdbcType=VARCHAR}), '%')
  </select>

  <select id="selectByCondition" parameterType="com.mrbeard.process.blocks.professional.model.ProcessNodeTypeBase" resultType="com.mrbeard.process.blocks.professional.model.ProcessNodeTypeBase">
    select
    <include refid="Base_Column_List"/>
    from p_node_type_base
    <include refid="Base_Where_Clouse"/>
  </select>

  <select id="selectListByCondition" parameterType="Object" resultType="com.mrbeard.process.blocks.professional.model.ProcessNodeTypeBase">
    select
    <include refid="Base_Column_List"/>
    from p_node_type_base
    <include refid="Base_Where_Clouse"/>
  </select>

  <select id="selectListByConditionList" parameterType="Object" resultType="com.mrbeard.process.blocks.professional.model.ProcessNodeTypeBase">
    select
    <include refid="Base_Column_List"/>
    from p_node_type_base
    <include refid="Base_Where_List_Clouse"/>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from p_node_type_base
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.mrbeard.process.blocks.professional.model.ProcessNodeTypeBase">
    insert into p_node_type_base (id, name, parentsId, 
      isBeginNode, isEndNode, correlationId, processTypeId,
      nodeTypeQueue,parentsName,correlationName,createdTime)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{parentsId,jdbcType=VARCHAR},
      #{isBeginNode,jdbcType=TINYINT},#{isEndNode,jdbcType=TINYINT},
      #{correlationId,jdbcType=VARCHAR},#{processTypeId,jdbcType=VARCHAR},
      #{nodeTypeQueue,jdbcType=VARCHAR},#{parentsName,jdbcType=VARCHAR},
      #{correlationName,jdbcType=VARCHAR},#{createdTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="com.mrbeard.process.blocks.professional.model.ProcessNodeTypeBase">
    insert into p_node_type_base
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="parentsId != null">
        parentsId,
      </if>
      <if test="isBeginNode != null">
        isBeginNode,
      </if>
      <if test="isEndNode != null">
        isEndNode,
      </if>
      <if test="correlationId != null">
        correlationId,
      </if>
      <if test="processTypeId != null">
        processTypeId,
      </if>
      <if test="nodeTypeQueue != null">
        nodeTypeQueue,
      </if>
      <if test="parentsName != null">
        parentsName,
      </if>
      <if test="correlationName != null">
        correlationName,
      </if>
      <if test="createdTime != null">
        createdTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentsId != null">
        #{parentsId,jdbcType=VARCHAR},
      </if>
      <if test="isBeginNode != null">
        #{isBeginNode,jdbcType=TINYINT},
      </if>
      <if test="isEndNode != null">
        #{isEndNode,jdbcType=TINYINT},
      </if>
      <if test="correlationId != null">
        #{correlationId,jdbcType=VARCHAR},
      </if>
      <if test="processTypeId != null">
        #{processTypeId,jdbcType=VARCHAR},
      </if>
      <if test="nodeTypeQueue != null">
        #{nodeTypeQueue,jdbcType=VARCHAR},
      </if>
      <if test="parentsName != null">
        #{parentsName,jdbcType=VARCHAR},
      </if>
      <if test="correlationName != null">
        #{correlationName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.mrbeard.process.blocks.professional.model.ProcessNodeTypeBase">
    update p_node_type_base
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentsId != null">
        parentsId = #{parentsId,jdbcType=VARCHAR},
      </if>
      <if test="isBeginNode != null">
        isBeginNode = #{isBeginNode,jdbcType=TINYINT},
      </if>
      <if test="isEndNode != null">
        isEndNode = #{isEndNode,jdbcType=TINYINT},
      </if>
      <if test="correlationId != null">
        correlationId = #{correlationId,jdbcType=VARCHAR},
      </if>
      <if test="processTypeId != null">
        processTypeId = #{processTypeId,jdbcType=VARCHAR},
      </if>
      <if test="nodeTypeQueue != null">
        nodeTypeQueue = #{nodeTypeQueue,jdbcType=VARCHAR},
      </if>
      <if test="parentsName != null">
        parentsName = #{parentsName,jdbcType=VARCHAR},
      </if>
      <if test="correlationName != null">
        correlationName = #{correlationName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        createdTime = #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.mrbeard.process.blocks.professional.model.ProcessNodeTypeBase">
    update p_node_type_base
    set name = #{name,jdbcType=VARCHAR},
      parentsId = #{parentsId,jdbcType=VARCHAR},
      isBeginNode = #{isBeginNode,jdbcType=TINYINT},
      isEndNode = #{isEndNode,jdbcType=TINYINT},
      correlationId = #{correlationId,jdbcType=VARCHAR},
      processTypeId = #{processTypeId,jdbcType=VARCHAR},
      nodeTypeQueue = #{nodeTypeQueue,jdbcType=VARCHAR},
      parentsName = #{parentsName,jdbcType=VARCHAR},
      correlationName = #{correlationName,jdbcType=VARCHAR},
      createdTime = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>