<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrbeard.process.blocks.config.mapper.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.mrbeard.process.blocks.config.model.Department">
    <constructor>
      <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="type" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="code" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="parentsid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="leaderid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="description" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="state" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="createdTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="updatedTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List">
    id, name, type, code, parentsid, leaderid, description, state, createdTime
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from qx_department
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="getDeptList" resultType="com.mrbeard.process.blocks.authority.dto.DeptmentDto">
    select id as deptId, name as deptName
    from qx_department
  </select>

  <select id="getDeptListWithPage" resultType="com.mrbeard.process.blocks.authority.dto.DeptmentDto">
    select d.id as deptId, d.name as deptName, d.parentsId, d.code, d.type,
        d.leaderId, d.state, d.createdtime, d.updatedtime, u.realName
    from qx_department d
    left join qx_user u on u.uid = d.leaderId
    where d.state = 1
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from qx_department
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.mrbeard.process.blocks.config.model.Department">
    insert into qx_department (id, name, type, 
      code, parentsid, leaderid, 
      description, state, createdTime)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, 
      #{code,jdbcType=VARCHAR}, #{parentsid,jdbcType=VARCHAR}, #{leaderid,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT}, #{createdtime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="com.mrbeard.process.blocks.config.model.Department">
    insert into qx_department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="parentsid != null">
        parentsid,
      </if>
      <if test="leaderid != null">
        leaderid,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createdtime != null">
        createdTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="parentsid != null">
        #{parentsid,jdbcType=VARCHAR},
      </if>
      <if test="leaderid != null">
        #{leaderid,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=TINYINT},
      </if>
      <if test="createdtime != null">
        #{createdtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.mrbeard.process.blocks.config.model.Department">
    update qx_department
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="parentsid != null">
        parentsid = #{parentsid,jdbcType=VARCHAR},
      </if>
      <if test="leaderid != null">
        leaderid = #{leaderid,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="createdtime != null">
        createdTime = #{createdtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.mrbeard.process.blocks.config.model.Department">
    update qx_department
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      code = #{code,jdbcType=VARCHAR},
      parentsid = #{parentsid,jdbcType=VARCHAR},
      leaderid = #{leaderid,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      state = #{state,jdbcType=TINYINT},
      createdTime = #{createdtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>