<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrbeard.process.blocks.authority.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.mrbeard.process.blocks.authority.model.User">
    <constructor>
      <idArg column="uid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="uname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="state" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="nick" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="loginIp" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="loginPort" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="deptid" javaType="java.lang.String" jdbcType="VARCHAR"/>
      <arg column="parentsid" javaType="java.lang.String" jdbcType="VARCHAR"/>
      <arg column="realName" javaType="java.lang.String" jdbcType="VARCHAR"/>
      <arg column="phoneNumber" javaType="java.lang.String" jdbcType="VARCHAR"/>
      <arg column="email" javaType="java.lang.String" jdbcType="VARCHAR"/>
      <arg column="sex" javaType="java.lang.String" jdbcType="VARCHAR"/>
      <arg column="createdTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="updatedTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    uid, uname, state, nick, password, loginIp, loginPort,deptid, parentsid, realName,phoneNumber,email,sex,createdTime,updatedTime
  </sql>

  <sql id="Base_User_List">
    u.uid, u.uname, u.nick, u.createdTime, u.updatedTime ,u.state,u.loginIp,u.loginPort,r.rid as roleId, u.deptid as deptId, d.name as deptName, u.realName, u.phoneNumber, u.email, u.sex
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from qx_user
    where uid = #{uid,jdbcType=VARCHAR}
  </select>

  <select id="findUserByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from qx_user
    where uname = #{uname,jdbcType=VARCHAR}
  </select>

  <select id="selectUserList" parameterType="com.mrbeard.process.blocks.authority.model.User" resultType="com.mrbeard.process.blocks.authority.dto.UserDto">
    select
    <include refid="Base_User_List"/>
    from qx_user u
    left join  qx_userrole r on r.uid = u.uid
    left join qx_department d on d.id = u.deptid
    <where>
      <if test="uname != null and uname != ''">
        u.uname like CONCAT(CONCAT('%', #{uname,jdbcType=VARCHAR}), '%')
      </if>
      <if test="state != null">
        and u.state = #{state}
      </if>
      <if test="phoneNumber != null and phoneNumber != ''" >
        and phoneNumber = #{phoneNumber}
      </if>
    </where>
    order by updatedTime desc
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from qx_user
    where uid = #{uid,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.mrbeard.process.blocks.authority.model.User">
    insert into qx_user (uid, uname, nick, 
      password, createdTime,
      state, loginIp, loginPort, deptid,
      parentsid,realName,phoneNumber,
      email,sex)
    values (#{uid,jdbcType=VARCHAR}, #{uname,jdbcType=VARCHAR}, #{nick,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR},  #{createdTime,jdbcType=TIMESTAMP},#{state,jdbcType=INTEGER},
      #{loginIp,jdbcType=VARCHAR}, #{loginPort,jdbcType=INTEGER},
      #{deptid,jdbcType=VARCHAR},#{parentsid,jdbcType=VARCHAR},
      #{realName,jdbcType=VARCHAR},#{phoneNumber,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR},#{sex,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.mrbeard.process.blocks.authority.model.User">
    update qx_user
    set uname = #{uname,jdbcType=VARCHAR},
      nick = #{nick,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      createdTime = #{createdTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER},
      loginIp = #{loginIp,jdbcType=VARCHAR},
      loginPort = #{loginPort,jdbcType=INTEGER},
      deptid = #{deptid,jdbcType=VARCHAR},
      parentsid = #{parentsid,jdbcType=VARCHAR},
      realName = #{realName,jdbcType=VARCHAR},
      phoneNumber = #{phoneNumber,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=VARCHAR}
  </update>
</mapper>